.nav {
    background-color: black;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
}

.card-css {
    margin: auto;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

.ftcol {
    margin: auto;
}